
// Make line-height equal to an element's height

@mixin line-and-height($height, $is-important: false) {
  @if $is-important {
    height: $height !important;
    line-height: $height - 2 !important;
  } @else {
    height: $height;
    line-height: $height - 2;
  }
}
